
.DS_Store
/DesvioCondicional_Lacos/nbproject/private/
/DesvioCondicional_Lacos/build/
/Vetores/nbproject/private/
/Vetores/build/
/Matrizes/nbproject/private/
/Matrizes/build/
/ListaOO/nbproject/private/
/ListaOO/build/
/Problema_Distancia_Euclidiana/nbproject/private/
/Problema_Distancia_Euclidiana/build/
